.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    /* added the above property to properly position the image as the width and height
    of the image are calculated from this header element*/
    &__logo-box {
        position: absolute;
        top: 4rem;
        /*this is calculated from the parent 
        which has the position as relative. 
        In this case the parent is header element there we added 
        the property of position: relative to the header element*/
        left: 4rem;
        /*this is calculated from the parent 
        which has the position as relative. 
        In this case the parent is header element there we added 
        the property of position: relative to the header element*/
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}